################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SD-drive/.visualgdb
/SD-drive/Output/Arduino_Mega_or_Mega_2560/Debug
/SD-drive/.vs
/SD-drive/Output/Arduino_Mega_or_Mega_2560/Release
/.visualgdb
/SD-drive/Output
/SD-Drive-Test/.visualgdb
/SD-Drive-Test/Output/Raspberry_Pi_Pico/Release
/SD-Drive-Test/Output/Raspberry_Pi_Pico/Debug
/SD-Drive-Test/.vs